<template name="projectPage">
  
  {{>projectHeader}}

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="candidates">
      {{#if currentUser}}
        {{> postSubmit}}
      {{else}}
        <p>Please log in to add a domain name candidate</p>
      {{/if}}

      <ul class="nav nav-pills">
        <li class="{{pillClass 'best'}}"><a class="remove-positions" href="{{pathFor 'bestProjectPage' _id=project._id}}">Best</a></li>
        <li class="{{pillClass 'new'}}"><a class="remove-positions" href="{{pathFor 'newProjectPage' _id=project._id }}">Newest</a></li>
      </ul>
      
      {{> postsList}}

    </div>
    
  </div>
</template>