<template name="projectPage">
  <div class="main">
    <h1>{{project.title}}</h1>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#candidates" role="tab" data-toggle="tab">Candidates list</a></li>
    <li><a href="#search-tool" role="tab" data-toggle="tab">Search tool</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="candidates">
      {{#if currentUser}}
        {{> postSubmit}}
      {{else}}
        <p>Please log in to add a domain name candidate</p>
      {{/if}}

      <ul class="main nav nav-pills">
        <li class="{{tabClass 'best'}}"><a class="remove-positions" href="{{pathFor 'bestProjectPage' _id=project._id}}">Best</a></li>
        <li class="{{tabClass 'new'}}"><a class="remove-positions" href="{{pathFor 'newProjectPage' _id=project._id }}">Newest</a></li>
      </ul>
      
      {{> postsList}}

    </div>
    <div class="tab-pane" id="search-tool">
      {{> searchResultTab}}

    </div>
  </div>
</template>