<template name="projectHeader">
   <!--  <div class="project-title">
      <h1>{{project.title}}</h1>
    </div> -->

    <div class="{{closedProjectHeaderAlertClass}} alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <i class="fa fa-info-circle"></i> <span class="hidden-xs">This is the project page. Here you can <a href="{{pathFor 'newProjectPage' _id=project._id }}" class="alert-link">add potential names</a> to the list (domain name availability will be checked), <a href="{{pathFor 'searchResultPage' _id=project._id }}" class="alert-link">generate name ideas</a> based on a keyword and <a href="{{pathFor 'messages' _id=project._id }}" class="alert-link">chat</a> with your team. You can <a href="#" class="trigger-share alert-link">share it</a> to add collaborators</span><span class="visible-xs-inline"><a href="#" class="trigger-share alert-link">Share it</a> to add collaborators</span>
    </div>

    {{#with project}}
        {{>projectItem}}
    {{/with}}

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="{{tabClass 'list'}}"><a href="{{pathFor 'newProjectPage' _id=project._id }}" role="tab">Name List</a></li>
      <li class="{{tabClass 'generator'}}"><a href="{{pathFor 'searchResultPage' _id=project._id }}" role="tab">Name Generator</a></li>
      <li class="{{tabClass 'chat'}}"><a href="{{pathFor 'messages' _id=project._id }}" role="tab">Chat {{>unreadMessages}}</a></li>
    </ul>
</template>

<template name="unreadMessages">
({{unreadMessages}})
</template>