<template name="home">
    {{#if currentUser}}
        {{>projectsList}}
    {{else}}
        <div class="home-text">
            <h1>Find a name for your project now!</h1>
            <p class="description">
                Collaborate with your team and generate ideas to name your project
            </p>
            <p>
                <a href="{{pathFor 'projectsList'}}" class="btn btn-primary btn-lg">Get Started</a>
            </p>
        </div>
        
        <blockquote>
          <p>"We thought it wasn't easy to collaborate when thinking of a new name - that's why we built Namecracy. With this tool you can create a list of potential names, get new ideas and share them with your team".</p>
          <footer><a target="_blank" href="http://www.elevenyellow.com">Elevenyellow</a></footer>
        </blockquote>

    {{/if}}
</template>
