<template name="postSubmit">
  <form class="form-inline main" id="add-candidate-form" role="form">
    <input type="hidden" name="projectId" value="{{project._id}}">
    <div class="form-group" id="post-submit-input-wp">
        <label class="sr-only" for="post-submit-input-id">Domain name candidate</label>
        <input type="text" class="form-control" id="post-submit-input-id" name="title" placeholder="Add a name candidate">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
    
</form>
</template>
