<template name="commentSubmit">
  <form name="comment" class="comment-form" role="form">
    <div class="form-group">
        <label for="comment-body">Comment on this name candidate</label>
        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <textarea name="body" class="form-control input-sm" id="comment-body" placeholder="Enter your comment"></textarea>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Comment</button>
  </form>
</template>