<template name="messages">
    {{>projectHeader}}
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="tab-pane active" id="messages">
                    <div class="messages-wp">
                        {{#each messages}}
                            {{> message}}
                        {{/each}}
                    </div>
                </div>

            </div>
            <div class="col-xs-12">
                <form action="" method="POST" class="message-input" role="form">
                    <input type="hidden" id="message-projectid-input" class="form-control" value="{{project._id}}">
                    <div class="form-group">
                        <label class="sr-only" for="message-content-input">label</label>
                        <input type="text" class="form-control" id="message-content-input" placeholder="Write something here">
                    </div>
                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                </form>
            </div>
        </div>
    </div>


    
</template>

<template name="message">
    <div class="message">
        <strong>{{author}}</strong> - {{content}}
    </div>

</template>

